@font-face {
    font-family: "Roboto";
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: grey;
}