html {
  font-size: 14px;
  font-family: 'Roboto';
  overflow: hidden;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  box-sizing: border-box;
}

/* p {
  margin: 0;
  padding: 0;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: inherit;
  border: none;
  box-shadow: 0 0 0px 1000px #00000000 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.my-20 {
  margin: 20px 0 !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.text-right {
  text-align: right;
}

.m-0 {
  margin: 0 !important;
}

.w-full {
  width: 100%;
}

#root {
  display: flex;
  overflow: auto;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./assets/images/background.jpg) no-repeat center center fixed; */
  background: #272b3b;
  background-size: cover;
}

#loginBackground {
  display: flex;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(./assets/images/background.jpg) no-repeat center center fixed;
  background-size: cover;
}

.light #root {
  background: #e8ecef;
}

.SnackbarContent-root {
  border-radius: 24px !important;
}

.MuiAutocomplete-option[aria-selected='true'] {
  position: relative;
}

.MuiAutocomplete-listbox {
  max-height: 175px;
}

.light #segment_subscribers-listbox {
  background-color: #ffffff;
  box-shadow: 0px 0px 6px 2px rgba(62, 201, 128, 0.3);
  border-radius: 8px;
}

.light #segment_subscribers-listbox > li {
  background-color: #ffffff;
}

.light #segment_subscribers-listbox > li:hover {
  background-color: #e1fff4 !important;
}

.rdw-dropdownoption-active::after,
.MuiMenuItem-root[aria-selected='true']::after,
.MuiAutocomplete-option[aria-selected='true']::after {
  background-image: url('./assets/icons/check.svg');
  content: '';
  height: 24px;
  display: flex;
  flex: 1;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  min-width: 40px;
}

fieldset.MuiFormControl-root {
  padding: 16px 0;
}

fieldset.MuiFormControl-root > span {
  padding: 0 24px;
  margin: 0;
}

fieldset.MuiFormControl-root .MuiFormGroup-root > label {
  padding: 0 24px 0 18px;
  margin: 0;
}

.dark fieldset.MuiFormControl-root .MuiFormGroup-root > label:hover,
.light fieldset.MuiFormControl-root .MuiFormGroup-root > label:hover {
  background: rgba(0, 199, 127, 0.08);
}

fieldset.MuiFormControl-root .MuiFormGroup-root > label:last-child {
  display: none;
}

.lineWidthField {
  position: relative;
}

.lineWidthField::before {
  content: '';
  position: absolute;
  width: calc(100% - 17px);
  height: 1px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.23);
}

.MuiChip-root.customTitle span.MuiChip-label {
  pointer-events: none;
}

.MuiChip-label {
  text-overflow: initial;
}

.MuiChip-root {
  margin: 3px;
}

.MuiTypography-noWrap {
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.MuiChip-deleteIcon {
  height: 14.405px;
  width: 14.405px;
}

.MuiButton-contained {
  box-shadow: none !important;
}

.ReactCodeInput {
  display: flex !important;
  gap: 19px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.DraftEditor-editorContainer figure {
  margin: 0;
}

.rdw-image-imagewrapper {
  width: 100%;
  margin: 8px 0;
}
.rdw-image-imagewrapper img {
  width: 100%;
}

.rdw-image-alignment-options-popup {
  color: #000000;
}

.SnackbarItem-message svg {
  margin-right: 8px;
}

.dark .rdw-option-wrapper img {
  filter: brightness(0) invert(1);
}

span[data-text='true'],
span[data-offset-key] {
  pointer-events: none;
}

.public-DraftStyleDefault-block {
  margin: 8px 0 !important;
}

.datatables-noprint {
  display: none;
}

div[class*='MUIDataTableToolbarSelect-root'] {
  display: none;
}

th[class*='MUIDataTableSelectCell-fixedLeft'],
td[class*='MUIDataTableSelectCell-fixedLeft'],
div[class*='MUIDataTableSelectCell-fixedLeft'] {
  position: relative;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #6b6c71;
}
::-webkit-scrollbar-thumb:hover {
  background: #6b6c71;
}
::-webkit-scrollbar-thumb:active {
  background: #6b6c71;
}

.MuiAutocomplete-clearIndicator {
  visibility: visible !important;
}

.SnackbarItem-lessPadding {
  padding-left: 16px !important;
}

.SnackbarContent-root {
  min-width: unset !important;
}

.MuiPopover-root:not(.MuiMenu-root) .MuiBackdrop-invisible {
  pointer-events: none;
}

.customBtnDisable:not(:hover) {
  border-color: #758695;
  color: #758695;
}

.customBtnTextDisable.Mui-disabled {
  background: transparent !important;
}

.buttonClear.Mui-disabled {
  background: transparent !important;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
